.horizontal-list {
  display: flex;
  gap: 10px; /* Adds space between the list items */
  padding: 0;
  list-style: none;
}

.horizontal-list-item {
  margin: 0;
  padding: 0;
}

.card {
  min-height: 0vw;
  min-width: 30vw;
}

body {
  background-color: lightblue;
}
